@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;900&display=swap');
/* https://coolors.co/02111b-577399-bdd5ea-f7f7ff-fe5f55 */

html {
    background-color: #02111B;
    cursor: pointer;
    font-size: 16px;
    margin: 0 15% 2rem 15%;
}

fieldset {
    background-image: url("../img/gym.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
}
input {
    background-color: #BDD5EA;
}


