@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&family=Roboto:wght@400;700;900&display=swap');
     
html {
    background-color: #1F2023;
    font-size: 16px;
}
h1 {
    color: #E8EAED;
    border-top: 1rem solid #4D6D63;
    border-right: 1rem solid #1F2023;
    border-bottom: 1rem solid #4D6D63;
    border-left: 1rem solid #1F2023;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
}  
body {
    background-color: #1F2023;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-top: 0rem;
    margin-right: auto;
    margin-left: auto;
    width: 40rem;
}
fieldset {
    align-items: center;
    background-color: #D7E1DE;
    border-color: #577D71;
    border-radius: 0.25rem;
    border-style: solid;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}
fieldset:focus-within {
    background-color: #A6C1B9;
}
legend {
    background-color: #4D6D63;
    border-radius: 0.375rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding: 0.35rem;
    text-transform: capitalize;
}
label, input {
    display: flex;
    text-align: center;
}
input:focus, textarea:focus {
    background-color:#4D6D63;
    color: #dae2dc;
}
input[type="submit"]:focus {
    background-color:#4D6D63;
    color: #dae2dc;
}
input::placeholder {
    color:#84ACA5;
}
input, textarea {
   text-align: right;
}
input, textarea, select {
    box-sizing: border-box;
    border-radius: 0.25rem;
    border: 1px solid #517167;
    font-size: 0.95rem;
    margin: 0.65rem 0;
    padding: 0.4rem 0.5rem;
    resize: vertical;
    width: 27.5rem;
}
select {
    width: 26.8rem;
}
textarea {
    height: 8rem;
}
input[type="radio"],[type="checkbox"] {
    width: auto;
}
.f-direction-row {
    display: flex;
    flex-direction: row;
}
.align-center {
    display: flex;
    align-items: center;
}
.m-padding {
    margin-right: 0.35rem;
    margin-left: 0.4rem;
}
.m-padding2 {
    margin-right: 0.35rem;
    margin-left: 0.2rem;
}
.align-left {
    display: block;
    align-items: left;
}
.term-cond {
    color: white;
    font-size: 0.925rem;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
}
.bold {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.4rem;
}
input[type="submit"],[type="reset"] {
    background-color: #2B3D37;
    border-color: #4D6D63;
    color: #A7C4BD;
    padding: 0.75rem;
    margin: 0 1rem;
    width: auto;
}
.justify-center {
    display: flex;
    justify-content: center;
}
.cont-change {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    width: auto;
    margin: 0.9rem 0;
}
.b-change {
    background-color: #4D6D63;
    border: 1px solid #517167;
    border-color: #ffffff;
    border-radius: 0.25rem;
    color: #ffffff;
    padding: 0.4rem;
}
.b-change:focus {
    background-color: #2f4b42;
}
.botones {
    margin-bottom: 2rem;
}
.puntitos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: 1.6rem 0;
}
.color-puntitos {
    background-color: #A8BDB8;
    border: none;
    border-radius: 50%;
    margin: 0 7px;
    height: 0.85rem;
    width: 0.85rem;
}
@media screen and (max-width: 690px) {
    body {
        margin-right: 2%;
        margin-left: 2%;
        width: auto;
    }
}

